.skill {
    width: 250px;
    margin: 10px;
    background-color: #EEE2DC;;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.icon {
    height: 60px;
    width: 60px;
    background-color: #84CDCA;
}