.mainBlock {
height: 100vh;
    /*background-color: #C38D9D;*/
    background-color: #123C69;
}
.greeting {
    width: 300px;
    background-color: #40B3A2;
}
.avatar {
    width: 300px;
    height: 400px;
    background-color: #40B3A2;
}
