.ContactForm {
    width: 60%;
    margin: 20px;
    /*background-color: #84CDCA;*/
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}
.contactText {
    width:90%;
    padding: 5px;
    margin: 10px;
    resize:none;
    min-height:190px;
    background-color: #EEE2DC;
    border: 1px solid #BAB2B5;
}
.contactInput {
    padding: 5px;
    margin: 10px 10px 0px 10px;
    width:90%;
    height: 30px;
    background-color: #EEE2DC;
    border: 1px solid #BAB2B5;
}
@media only screen and (min-device-width: 355px)
and (max-device-width: 1024px){
    .ContactForm {
        width: 100%;
        margin: 0 auto;
    }
    .contactText {
        width: 280px;
        resize: none;
        min-height: 90px;
    }
    .contactInput {
        width: 280px;
        height: 30px;
        font-size: 17px;
    }
}

