.project {
    width: 350px;
    background-color: #EEE2DC;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.photo {
    height: 160px;
    width: 100%;
    background-color: #84CDCA;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.button {
    height: 40px;
    width: 150px;
    margin-top: 17%;
    border: none;
    font-size: 16px;
    background-color: #EDC7B7;
}

.button:hover {
    height: 42px;
    width: 152px;
}
.button:active {
    background-color: #EDC7C7;
    height: 40px;
    width: 150px;
}
