.footerBlock {
    height: 100%;
    background-color: #C38D9D;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.footerContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.footerIcons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footerIcon {
    height: 60px;
    width: 60px;
    margin: 20px;
}
.footerIcon:hover {
    height: 62px;
    width: 62px;
}
.footerIcon:active {
    height: 60px;
    width: 60px;
}
p{
    text-align: center;
}